.main-btn {
  background-color: var(--secndary-color);
  color: var(--black);
}

.main-btn:hover {
  translate: 0 -20%;
  background-color: var(--white);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.06);
}
