.why-us-item {
  display: flex;
  align-items: center;
  gap: 6.4rem;
  list-style: none;
}

.why-us-dot {
  width: 4.8rem;
  height: 4.8rem;
  scale: 2;
  position: relative;
}

.why-us-dot::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  translate: -23% -23%;
  width: 3.6rem;
  height: 3.6rem;
  background-color: rgba(20, 235, 228, 0.537);
  border-radius: 50%;
  z-index: -1;
}

.why-us-dot img {
  width: 100%;
}

.why-us-item > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.why-us-item p {
  margin-bottom: 0;
}
