.why-us {
  background-size: cover;
  padding: 4.8rem 12.8rem;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  color: var(--black);
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.heading {
  margin-block-end: 12.8rem;
}

.why-img {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.why-img img {
  width: 100%;
}
