.why-us {
  background-size: cover;
  padding: 4.8rem 6.4rem;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  color: var(--black);
}

.why-us > div:last-child {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.why-us > div > div:last-child {
  width: 75%;
}

.why-us > div > div:last-child img {
  width: 100%;
}
