:root {
  --primary-shade: #670b67;
  --primary-color: #810e81;
  --primary-tint: #9a3e9a;
  --secndary-shade: #10bcb6;
  --secndary-color: #14ebe3;
  --secndary-tint: #43efe9;
  --white: #e6cfe6;
  --black: #1a031a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--white);
  overflow-x: hidden;
}
